@import url("https://fonts.googleapis.com/css?family=Cardo&display=swap");
body {
  background: #1b264c;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: "Cardo", serif !important;
  font-size: 22px; }

p {
  font-size: 18px;
  color: #ffffff;
  margin: 1%; }

h1 {
  color: #dcd4ff; }

ul {
  position: absolute;
  top: 175px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex; }

ul li {
  list-style: none;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  animation: original 1.6s ease-in-out infinite; }

#light1 {
  animation-delay: -1.4s;
  background-color: #c4040b;
  box-shadow: 0 0 50px #c4040b; }

#light2 {
  animation-delay: -1.2s;
  background-color: #ffb23e;
  box-shadow: 0 0 50px #ffb23e; }

#light3 {
  animation-delay: -1s;
  background-color: #fff350;
  box-shadow: 0 0 50px #fff350; }

#light4 {
  animation-delay: -0.8s;
  background-color: #26c03b;
  box-shadow: 0 0 50px #26c03b; }

#light5 {
  animation-delay: -0.6s;
  background-color: #0075e2;
  box-shadow: 0 0 50px #0075e2; }

#light6 {
  animation-delay: -0.4s;
  background-color: #321fe2;
  box-shadow: 0 0 50px #321fe2; }

#light7 {
  animation-delay: -0.2s;
  background-color: #6808c2;
  box-shadow: 0 0 50px #6808c2; }

@keyframes original {
  0% , 40% , 100% {
    transform: scale(0.2); }
  20% {
    transform: scale(1); } }
@keyframes water {
  0% , 60% , 100% {
    transform: scale(0.2); }
  20% {
    transform: scale(0.4); }
  40% {
    transform: scale(0.8); } }
@keyframes galloping_seahorses {
  0% , 40% , 100% {
    transform: scale(0.2); }
  20% {
    transform: scale(0.9); } }
@keyframes under_the_sea {
  0% , 40% , 100% {
    transform: scale(0.2); }
  20% {
    transform: scale(0.7); } }
.tab {
  width: 65.5%;
  margin-top: 5%;
  background-color: transparent;
  color: #dcd4ff;
  overflow: hidden;
  font-family: "Cardo", serif !important; }

.tab button {
  font-family: "Cardo", serif !important;
  background-color: #764248;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1.5%;
  transition: 0.3s;
  font-size: 23px;
  width: calc(98.55%/3);
  color: #ffffff; }
  .tab button:hover {
    background-color: #c4b7cb; }
  .tab button:active {
    background-color: #805960; }

.clickedtab {
  background-color: #805960 !important;
  color: #f7fafc !important; }

.tabcontent {
  background-color: #8A7B79;
  color: transparent;
  text-align: center;
  width: 65.5%;
  margin: auto;
  display: none; }
  .tabcontent:before {
    content: "";
    display: block;
    padding: 1%; }

.bubbles {
  width: 20px;
  height: 20px;
  bottom: 5%;
  z-index: 2;
  border-radius: 50%;
  opacity: .50;
  position: absolute;
  margin-right: 50px;
  background-color: #7beefd;
  animation: bub 4s infinite; }

.bubble1 {
  left: 3%;
  opacity: 50%;
  animation: bub 2s infinite; }

.bubble2 {
  left: 85%;
  opacity: .2;
  animation: bub 4.5s infinite; }

.bubble3 {
  left: 8%;
  opacity: .2;
  animation: bub 3s infinite; }

.bubble4 {
  left: 95%;
  opacity: 50%;
  animation: bub 4s infinite; }

@keyframes bub {
  100% {
    transform: translateY(-4500%); } }
#light-panel {
  color: #ffffff; }

#light-panel-content {
  margin-top: 2%; }

h4 {
  font-size: 20px;
  margin-top: auto;
  padding-left: 2%;
  padding-right: 2%; }

.light-messages {
  text-align: left;
  display: inline-block; }

#light-panel button {
  border-radius: 3px;
  box-shadow: 1px 3px 5px;
  background-color: #D8D8F6;
  padding: .5%;
  color: #1b264c; }
  #light-panel button:hover {
    background-color: #c4b7cb; }

input[type=color] {
  -webkit-appearance: none;
  height: 14px;
  border: none; }

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 1px; }

input[type="color"]::-webkit-color-swatch {
  border: none; }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff9c9c;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #62A87C; }

input:focus + .slider {
  box-shadow: 0 0 1px #62A87C; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

#playlist, audio {
  width: 80%; }

ol li {
  display: block;
  list-style-type: none;
  width: 80%;
  margin-left: 7.5%;
  border: none;
  background-color: #D8D8F6;
  color: #1b264c;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
  padding: .5%; }
  ol li:hover {
    background-color: #c4b7cb; }

h4#audio-message {
  color: #ffffff; }

.play-pause-stop-wrapper {
  width: 10%;
  margin: 0 auto;
  height: 40px; }

.play-pause-stop-wrapper div {
  float: left;
  clear: none;
  bottom: 10%; }

.playpause {
  display: flex; }
  .playpause label {
    outline: none;
    -webkit-appearance: none;
    display: block;
    box-sizing: border-box;
    width: 0;
    height: 35px;
    border-color: transparent transparent transparent #1b264c;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: double;
    border-width: 0px 0 0px 21px; }
  .playpause input[type="checkbox"] {
    outline: none;
    position: absolute;
    left: -9999px; }
    .playpause input[type="checkbox"]:checked + label {
      outline: none;
      border-style: solid;
      border-width: 17.5px 0 17.5px 21px; }
    .playpause input[type="checkbox"]:focus + label {
      outline: none; }

.stop-button {
  height: 35px;
  width: 35px;
  background-color: #1b264c;
  margin-left: 20%;
  cursor: pointer; }

#play-pause-stop-lightshow, #play-pause-stop-music {
  display: none; }

#lightshow-message {
  color: #ffffff; }

/*# sourceMappingURL=styles.css.map */
